# Data Types in Python

This notebook is aimed at shedding some light on the different data types in Python. This shall form a strong foundation for your programming and Data Science journey.

## Numeric Data Type

You can check the data type of an object using the `type()` command.
The syntax looks like this: `type(variableName)`

### Your turn now.
Store the following into three different objects and check their data types:
* 2
* 1086J
* 3.14567

In [2]:
# Create an object with a value of 2
number = 2


# Check the data type

type(number)

int

In [3]:
# Create an object with a value of 1086J
complexNum = 1086J
anotherString = "1086J"

# Check the data type

print("complexNum is of type: ", type(complexNum) )
print("anotherString is of type: ", type(anotherString) )

complexNum is of type:  <class 'complex'>
anotherString is of type:  <class 'str'>

In [4]:
# Create an object with a value of 3.14567
pi_constant = 3.14567

# Check the data type

type(pi_constant)

float

## String Data Type

String Data type usually is used to store text. The data to be stored in this data type is enclosed between single ('') or double ("") quotes.
Recall that you printed your name in the previous Notebook. That was string data type.
Let's look at an example.

In [5]:
# Printing your name
My_Name = "Oluwafemi"

# Check the results of the My_Name variable
My_Name

'Oluwafemi'

In [6]:
# Check the data type of the My_Name variable
type(My_Name)

str

You can combine string methods with print statements to request information from a user. This uses the `input` statement and gives users a blinking cursor to enter information.

Complex print statements are also possible where it prints string text, the contents of a variable, and even perform small operations in the statement and return the results. In the example below we will create a variable called `my_name` and use the input method to ask the user to input their name. From there we can print a statement saying hello, the user's entered name, and some punctuation. In the next print statement we can use the `type()` method to print the data type of the variable `my_name`.

In [7]:
# Your turn to play around now.
# Use the input statement to ask a user to enter their name
# Syntax looks like this: descriptiveVariableName = input("Question to be asked? ")


# Use a print statement to check your input. Add a greeting to your statement.
# Syntax looks like this: print("Greeting", descriptiveVariableName, "!")


# Now use a print statement to tell the user the data type.
# Syntax looks like this: print("Your name is a ",type(descriptiveVariableName))

userName = input("What is your name? ")

print("Greeting", userName, "!")

print("You name is a type: ", type(userName))

What is your name? Oluwafemi
Greeting Oluwafemi !
You name is a type:  <class 'str'>

Various functions can be performed using strings like searching within a string, conversion to lowercase/uppercase, count, length, splitting, replacing, trimming, partitioning etc.

In [8]:
# Let's check how many characters does your name contain.
# Syntax: len(variableName)
len(userName)

9

In [9]:
# Let's see if My_Name is all Caps or not.
# isupper() returns True if all the letters are Capitals, False if atleast one letter in in lower case.
# Syntax: variableName.isupper()
userName.isupper()

False

In [10]:
# Let's convert My_Name to all caps.
# Syntax: variableName = variableName.upper()
userName = userName.upper()

# Call the variable using the variable name.
userName

'OLUWAFEMI'

In [11]:
# Check the uppercase again,
# Now the output of isupper() changes to True.

userName.isupper()

True

In [12]:
# Your turn to try it now.
# Write a sentence and store it into an object.
# Don't forget quotation marks for strings
new_sentence= "i am learning data science"

# Use a print statement to view your new_sentence
print("View my statement: ", new_sentence, "\n" )

# Use the .upper() method in a print statement to print the upper case sentence
# HINT: Use a print statement, your variable name, and the .upper() method
print("convert string to upper case: ", new_sentence.upper(),  "\n" )

# Use the .capitalize() method to print the sentence with the first word capitalized.
print("Using .capitalize(): ", new_sentence.capitalize(), "\n" )

# Use the .title() method to print the sentence with the first letter of each word capitalized.
print("Using .title(): ", new_sentence.title(),  "\n" )

View my statement:  i am learning data science

convert string to upper case:  I AM LEARNING DATA SCIENCE

Using .capitalize():  I am learning data science

Using .title():  I Am Learning Data Science

In [13]:
# Check the data type of the object you just created.
type(new_sentence)

str

In [14]:
# Check if it is all caps or not.
# Syntax: variableName.isupper()

new_sentence.isupper()

False

In [15]:
# Challenge - Check if it is all lower case or not.
# Use the example above to complete the challenge question
new_sentence.islower()

True

In [16]:
# Challenge - Convert your object into all caps.

new_sentence.upper()

'I AM LEARNING DATA SCIENCE'

In [17]:
# Challenge - Convert your object into all lower case.
new_sentence.lower()

'i am learning data science'

## Boolean Data Type

The boolean data type has just two values, i.e., True or False.

In [18]:
# Create two variables, one with a value of True, one with a value of False
makeTrue = True
makeFalse = False

In [19]:
# Check the data type of your new variables
# HINT: you can check multiple items by separating the statements with a comma

print ( ( "makeTrue is type: ", type(makeTrue) ), ( "makeFalse is type: ", type(makeFalse) ) )

('makeTrue is type: ', <class 'bool'>) ('makeFalse is type: ', <class 'bool'>)

## Data Type Conversions

As explained earlier, data should be stored in correct form so that it can be manipulated efficiently later.
Quite a lot of times, data is not stored correctly or it gets imported incorrectly.
In such cases, data needs to be converted to its correct type so that it can be optimally used in our analysis.
Thus, let's look at data type conversion exercises to get you comfortable with the process.

In [20]:
# Create an object containing an integer.
newNum = 10

In [21]:
# Check the data type of your new object

type(newNum)

int

In [22]:
# You want to use the value 1 as text. So let's convert it.
# Syntax: variableName = str(variableName)

newNum = str(newNum)

In [23]:
# Check the data type of your new object again.
type(newNum)

str

In [24]:
# Exercise for you. Store the number 123456 as string.

# Check the data type

strNumber = "123456"
type(strNumber)

str

In [25]:
# Let's do the opposite now.
# Create a variable and assign a numeric value as a string
# HINT: Any value inside of quotes is a string

# Check the data type of your variable

newStrNum = "4536721809"
type(newStrNum)

str

In [26]:
# Let's learn to convert string to integer now.
# Syntax: variableName = int(variableName)

# Check the data type

newStrNum = int(newStrNum)
type(newStrNum)

int

In [27]:
# Let's convert a string to a float.
# Syntax: variableName = float(variableName)

# Check the data type
newStrNum = float(newStrNum)
print("newStrNum should be type float: ", type(newStrNum),  "\n" )

newStrNum = bool(newStrNum)
print("newStrNum should now be type bool: ", type(newStrNum),  "\n" )

newStrNum = int(newStrNum)
print("newStrNum should now be type int: ", type(newStrNum),  "\n" )

newStrNum = float(newStrNum)
print("newStrNum should now be type float: ", type(newStrNum),  "\n" )

newStrNum should be type float:  <class 'float'>

newStrNum should now be type bool:  <class 'bool'>

newStrNum should now be type int:  <class 'int'>

newStrNum should now be type float:  <class 'float'>

Good job so far!
You can also try converting strings to boolean and vice versa.
You could also try conversions from integers to float and float to integer.

Python is an intuitive language, so by default it stores data into correct formats.
But very often we come across data being stored incorrectly especially while importing.